.h1 {
  white-space: pre-line;
}

/*아래 폰트*/
@font-face {
  font-family: "font1";
  font-weight: 50;
  src: url("./font/font1.ttf") format("truetype");
}

@font-face {
  font-family: "font2";
  src: url("./font/font2.ttf");
}

@font-face {
  font-family: "font3";
  src: url("./font/font3.ttf");
}

@font-face {
  font-family: "font4";
  src: url("./font/font4.ttf");
}

@font-face {
  font-family: "font5";
  src: url("./font/font5.ttf");
}
@font-face {
  font-family: "font6";
  src: url("./font/font6.ttf");
}
